@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background: linear-gradient(to bottom,
            lightslategrey 0%,
            darkgrey 20%,
            darkgrey 80%,
            lightslategrey 100%);
    font-family: 'Poppins', sans-serif;
    color: #141414;
    margin: 0;
    padding: 0;
    overflow: auto;
    padding-top: 30px;
}

html {
    scroll-behavior: smooth;
}

#sc1,
#sc2,
#sc3 {
    scroll-margin-top: 30px;
}

#sc1 {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#sc2 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sc3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(245, 245, 245, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(233, 233, 236, 0.575);
}

#main {
    width: 40%;
    max-width: 100%;
    height: auto;
    margin: 80px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 23px;
    color: #141414;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    font-weight: 500;
}

h1 {
    color: #160d18;
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h2 {
    color: #160d18;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

#projetos {
    width: 16%;
    height: 40vh;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.781);
    box-shadow: 0px 0px 10px rgba(233, 233, 236, 0.575);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
}

#projetos2 {
    width: 16%;
    height: 40vh;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.781);
    box-shadow: 0px 0px 10px rgba(233, 233, 236, 0.575);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
}

#projetos3 {
    width: 16%;
    height: 40vh;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.781);
    box-shadow: 0px 0px 10px rgba(233, 233, 236, 0.575);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
}

#contato {
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.781);
    box-shadow: 0px 0px 10px rgba(233, 233, 236, 0.575);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
}

#projetos,
#projetos2,
#projetos3,
#contato {
    transition: transform 0.1s ease-in-out;
}

#projetos:hover,
#projetos2:hover,
#projetos3:hover,
#contato:hover {
    transform: scale(1.03);
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button1 {
    background-image: url('imagens/editar-alt.png');
}

.button2 {
    background-image: url('imagens/casa.png');
}

.button3 {
    background-image: url('imagens/do-utilizador.png');
}

.button4 {
    background-image: url('imagens/whatsapp.png');
}

.button5 {
    background-image: url('imagens/instagram.png');
}

.button6 {
    background-image: url('imagens/linkedin.png');
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover {
    opacity: 0.7;
    transition: 0.2s;
}

#img1 {
    margin: 50px;
    border-radius: 350px;
    object-fit: cover;
    width: 350px;
    max-width: 350px;
    max-height: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.562);
    animation: img 1.5s infinite ease-in-out;
}

@keyframes img {
    50% {
        transform: translateY(-4%);
    }
}

a {
    text-decoration: none;
    color: #160d18;
}

a:hover {
    color: rgb(80, 112, 145);
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: rgb(80, 112, 145);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#main a.hover-underline {
    font-size: 23px;
    font-weight: 500;
    margin-top: 20px;
    padding: 0;
    display: inline-block;
    text-align: left;
    position: relative;
    width: fit-content;
}

/* sobre mim */

ul {
    list-style: none;
    display: inline flex;
    font-weight: 600;
    gap: 40px;
}

.btn-voltar-wrapper {
    display: flex;
    justify-content: start;
    margin: 2rem 0;
}

.btn-voltar {
    background-color: rgb(80, 112, 145);
    color: #141414;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-voltar:hover {
    background-color: darkgray;
    color: #141414;
}

.section {
    overflow: hidden;
    margin: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    max-width: 100%;
    height: auto;
}

#sobre-tabela {
    width: 50%;
    padding: 2rem;
}
  
#sobre-container h1 {
    font-size: 32px;
    margin-bottom: 15px;
}
  
#sobre-container p {
    font-size: 20px;
}
  
#sobre-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
  
th,
td {
    border: 1px solid #ccc;
    padding: 0.75rem;
}
  
th {
    background-color: #f5f5f5;
}

/* projeto */

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    max-width: 100%;
    height: auto;
}

.section2 {
    margin: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}