<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
</head>

<body>
    <section class="section">
        <div>
            <h1>Sobre Mim</h1>
            <p>Meu nome é Max, tenho 19 anos, curso Análise e Desenvolvimento de Sistemas na ULBRA (1o semestre). Sou
                apaixonado por tecnologia e design e pretendo seguir no ramo do Desenvolvimento Web no futuro. Dentre
                minhas Hard Skills posso destacar:</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Python</li>
                <li>Hardware e Software</li>
                <li>Design</li>
            </ul>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>HTML</th>
                        <th>CSS</th>
                        <th>Python</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Iniciante/médio</td>
                        <td>Iniciante/médio</td>
                        <td>Iniciante</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/index.html">Voltar para Home</a>
        </div>
    </section>
</body>

</html>